ldap-server "localhost";
ldap-port 389;
ldap-username "cn=Manager,dc=example,dc=com";
ldap-password "passme";
ldap-base-dn "dc=example, dc=com";
ldap-method dynamic;
#ldap-method static;
ldap-debug-file "/var/log/dhcp-ldap-startup.log";